.oper_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    justify-content: flex-start;
}

.card {
    width: 160px;
    margin: 10px
}

.text-area {
    position: relative;
}

.oper_area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.name {
    font-size: 14px;
    font-weight: bold;
    color: #515a6e;
    margin: 5px;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.createtime {
    font-size: 12px;
    font-weight: bold;
    color: #515a6e;
    margin: 5px;
}

.oper-btn {
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 20px;
}