<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>木圣科技信使系统</title>
  <link rel="stylesheet" type="text/css" href="public/css/lib/iview.css">
  <link rel="stylesheet" type="text/css" href="public/css/src/frame.css" />
  <link rel="stylesheet" type="text/css" href="public/css/src/channel.css" />
</head>
<body>
  <div id="content">
    <div class="layout">
         <layout>
             <header-menu username="{{user.username}}" rolename="{{user.roles[0].name}}" activename="4"></header-menu>
             <i-content :style="{padding: '0 50px'}">
                 <breadcrumb :style="{margin: '20px 0'}">
                     <breadcrumb-item>首页</breadcrumb-item>
                     <breadcrumb-item>通道管理</breadcrumb-item>
                 </breadcrumb>
                 <card>
                   <div class="oper_area">
                      <div>

                      </div>
                      <i-button type="primary" @click="clickCreateChannel">新建短信通道</i-button>
                    </div>
                    <div style="margin-top:10px;">
                      <i-table border :columns="columns" :data="channelData"></i-table>
                    </div>
                    <div style="margin-top:20px;text-align:center">
                      <Page :total="total" @on-change="pageChange" :current="currentPage" show-total/>
                    </div>
                 </card>
             </i-content>
             <i-footer class="layout-footer-center">2019-2029 &copyright; </i-footer>
         </layout>
     </div>
     <modal
            v-model="modal1"
            title="新建通道"
            @on-ok="createChannel"
            :loading="loading"
            width='60%'
            :styles="{top:'200px'}"
            @on-cancel="cancelCreateChannel">
            <i-form :model="channelForm" label-position="left" :label-width="160">
                <form-item label="通道名称">
                    <i-input v-model="channelForm.name"></i-input>
                </form-item>
                <form-item label="每条计费金额">
                    <i-input v-model="channelForm.money"></i-input>
                </form-item>
                <form-item label="备注">
                    <i-input v-model="channelForm.remark"></i-input>
                </form-item>
            </i-form>
        </modal>
  </div>
</body>
<script type="text/javascript" src="public/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="public/js/lib/vue.min.js"></script>
<script type="text/javascript" src="public/js/lib/iview.min.js"></script>
<script type="text/javascript" src="public/js/src/component/header.js"></script>
<script type="text/javascript" src="public/js/src/channel.js"></script>
</html>
