<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>木圣科技信使系统</title>
  <link rel="stylesheet" type="text/css" href="public/css/lib/iview.css">
  <link rel="stylesheet" type="text/css" href="public/css/src/frame.css" />
  <link rel="stylesheet" type="text/css" href="public/css/src/task.css" />
</head>
<body>
  <div id="content">
    <div class="layout">
         <layout>
             <header-menu username="{{user.username}}" rolename="{{user.roles[0].name}}" activename="2"></header-menu>
             <i-content :style="{padding: '0 50px'}">
                 <breadcrumb :style="{margin: '20px 0'}">
                     <breadcrumb-item>首页</breadcrumb-item>
                     <breadcrumb-item>任务管理</breadcrumb-item>
                 </breadcrumb>
                 <card>
                   <div class="oper_area">
                      <div>
                        <i-input v-model="search_value" placeholder="请输入任务名称..." style="width: 300px"></i-input>
                        <i-button @click="searchClick">搜索</i-button>
                      </div>
                      <i-button type="primary" @click="clickCreateTask">新建任务</i-button>
                    </div>
                    <div style="margin-top:10px;">
                      <i-table border :columns="columns" :data="tableData"></i-table>
                    </div>
                    <div style="margin-top:20px;text-align:center">
                      <Page :total="total" @on-change="pageChange" :current="currentPage" show-total/>
                    </div>
                 </card>
             </i-content>
             <i-footer class="layout-footer-center">2019-2029 &copyright; </i-footer>
         </layout>
     </div>
     <modal
            v-model="modal1"
            title="新建任务"
            @on-ok="createTask"
            :loading="loading"
            width='60%'
            :styles="{top:'200px'}"
            @on-cancel="cancelCreateTask">
            <i-form :model="taskForm" label-position="left" :label-width="160">
                <form-item label="任务名">
                    <i-input v-model="taskForm.name"></i-input>
                </form-item>
                <form-item label="发送通道">
                    <i-select v-model="taskForm.channelId" size="large" placeholder="请选择发送通道" style="width:200px;z-index: 10;">
                        <i-option v-for="item in channelList" :value="item.value" :key="item.value">${ item.label }</i-option>
                     </i-select>
                </form-item>
                <form-item label="上传excel文件">
                    <upload
                       multiple
                       type="drag"
                       :action="uploadActionUrl"
                       :show-upload-list="false"
                       accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                       :on-success="uploadSuccess"
                       :on-error="uploadError"
                       :before-upload="beforeUpload">
                       <div style="padding: 20px 0">
                           <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                           <p>点击或者拖拽文件到此完成上传。<span style="color:red">注意：请上传后缀名为.xlsx的Excel文件</span></p>
                       </div>
                   </upload>
                   <p>${recordCount}</p>
                  </form-item>
            </i-form>
        </modal>

        <modal
            v-model="modal2"
            title="短信列表"
            width='70%'
            :styles="{top:'100px'}">
            <i-form label-position="left" :label-width="160">
                <i-table highlight-row ref="selectTaskRowTable"  :data="smsTableData" :columns="smsColumn"></i-table>
                <div style="margin-top:20px;text-align:center">
                <Page :total="smsTotal" @on-change="smsPageChange" show-total/>
                </div>
            </i-form>
        </modal>
  </div>
</body>
<script type="text/javascript" src="public/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="public/js/lib/vue.min.js"></script>
<script type="text/javascript" src="public/js/lib/iview.min.js"></script>
<script type="text/javascript" src="public/js/src/component/header.js"></script>
<script type="text/javascript" src="public/js/src/task.js"></script>
</html>
